@font-face {
    font-family: "Fredoka";
    src: url("../assets/fonts/Fredoka_Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Fredoka";
    src: url("../assets/fonts/Fredoka_Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Fredoka";
    src: url("../assets/fonts/Fredoka_Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter_Bold.ttf");
    font-weight: 700;
}